<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <th:block th:include="componentes/importar.html :: importar" />
</head>
<body>
    <nav th:replace="componentes/cabecera.html :: cabecera" />

    </nav>

    <div class="container my-3"> <!-- my: margin eje y || py: padding eje y -->
        <div class="row justify-content-center">
            <div th:if="${crear}" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">
                <h2>Crear Usuario</h2>
                <form method="post" th:action="@{/usuario/crear}" th:object="${usuario}">
                    <div class="mb-3"> <!-- margen button -->
                        <label for="inputUsuario" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="inputUsuario" name="user" placeholder="Introduzca el nombre" autofocus>
                    </div>
                    <div class="mb-3"> <!-- margen button -->
                        <label for="inputUsuario" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="inputCorreo" name="email" placeholder="Introduzca el nombre" autofocus>
                    </div>
                    <div class="mb-3"> <!-- margen button -->
                        <label for="inputContrasenha" class="form-label">Contraseña</label>
                        <input type="text" class="form-control" id="inputContrasenha" name="password" placeholder="Introduzca la Contraseña">
                    </div>
                    <div th:if="${asignarRol}" class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Rol</label>
                        <select class="form-select" aria-label="Default select example" id="inputGroupSelect01" name="idRol">
                            <option th:each="elemento : ${roles}" th:value="${elemento.idRol}" th:text="${elemento.toString()}"></option>
                        </select>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">Crear Usuario</button>
                    </div>
                </form>
            </div>
            <div th:if="${actualizar}" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">
                <h2>Modificar usuario</h2>
                <form method="post" th:action="@{/usuario/actualizar}" th:object="${usuario}">
                    <div class="mb-3"> <!-- margen button -->
                        <label for="selectId1" class="form-label">Correo Usuario</label>
                        <select class="form-select" aria-label="Default select example" id="selectId1" name="email">
                            <option th:each="elemento : ${idUsuarios}" th:value="${elemento.email}" th:text="${elemento.email}"></option>
                        </select>
                    </div>
                    <div class="mb-3"> <!-- margen button -->
                        <label for="inputNombre2" class="form-label">Nombre Usuario</label>
                        <input type="text" class="form-control" id="inputNombre2" name="user" placeholder="Introduzca nombre de Usuario">
                    </div>
                    <div class="mb-3"> <!-- margen button -->
                        <label for="inputContrasenha2" class="form-label">Contraseña</label>
                        <input type="text" class="form-control" id="inputContrasenha2" name="password" placeholder="Introduzca la Contraseña">
                    </div>
                    <div th:if="${asignarRol}" class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect02">Rol</label>
                        <select class="form-select" aria-label="Default select example" id="inputGroupSelect02" name="idRol">
                            <option th:each="elemento : ${roles}" th:value="${elemento.idRol}" th:text="${elemento.toString()}"></option>
                        </select>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-warning">Modificar Usuario</button>
                    </div>
                </form>
            </div>
            <div th:if="${eliminar}" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">
                <h2>Eliminar Usuario</h2>
                <form method="post" th:action="@{/usuario/eliminar}">
                    <div class="mb-3"> <!-- margen button -->
                        <label for="selectId2" class="form-label">Correo Usuario</label>
                        <select class="form-select" aria-label="Default select example" id="selectId2" name="id_usuario">
                            <option th:each="elemento : ${idUsuarios}" th:value="${elemento.idUsuario}" th:text="${elemento.email}"></option>
                        </select>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-danger">Eliminar Usuario</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>