<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}">
<body>
<div layout:fragment="content">
  <h1 class="text-center mb-4">Usuarios</h1>

  <th:block th:include="fragment/success-message.html"></th:block>

  <th:block th:if="${permisoCrear eq true}">
    <a th:href="@{/usuarios/nuevo}" class="btn btn-outline-success mb-3">
      <i class="fa-solid fa-user-plus"></i> Nuevo Usuario
    </a>
  </th:block>

  <div th:if="${permisoVer eq false}">
    <td class="text-center fw-bold" colspan="10">No posee los permisos suficientes</td>
  </div>
  <div th:if="${permisoVer eq true}" class="table-responsive">
    <table class="table table-sm table-bordered">
      <thead>
      <tr class="text-center">
        <th>Usuario</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Acción</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${#lists.isEmpty(listUser)}">
        <td class="text-center fw-bold" colspan="10">No se encontraron resultados</td>
      </tr>
      <tr class="text-center" th:each="user: ${listUser}">
        <td th:text="${user.username}">Name</td>
        <td th:text="${user.email}">Email</td>
        <td th:text="${user.rol.nombre}">Age</td>
        <td>
          <div class="btn-group">
            <a th:if="${permisoActualizar eq true}" th:href="@{/usuarios/{id}(id=${user.idUsuario})}"
               class="btn btn-sm btn-outline-primary">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a th:if="${permisoEliminar eq true}" th:href="@{/usuarios/{id}/delete(id=${user.idUsuario})}">
              <button type="button" id="btnEliminar" class="btn btn-sm btn-outline-danger">
                <i class="fa-sharp fa-solid fa-trash"></i>
              </button>
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

</body>
</html>