<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <th:block th:include="componentes/importar.html :: importar" />
    </head>
<body>
    <nav th:replace="componentes/cabecera.html :: cabecera" />

    </nav>

    <div class="container my-3"> <!-- my: margin eje y || py: padding eje y -->
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">
                <h2>Agregar Miembro</h2>
                <form method="post" th:action="@{agregar-miembro}" >
                    <div class="mb-3"> <!-- margen button -->
                        <label class="form-label">Proyecto</label>
                        <select class="form-select" aria-label="Default select example" name="id_proyecto">
                            <option th:each="elemento : ${proyectos}" th:value="${elemento.idProyecto}" th:text="${elemento.toString()}"></option>
                        </select>
                    </div>
                    <div class="mb-3"> <!-- margen button -->
                        <label class="form-label">Miembro</label>
                        <select class="form-select" aria-label="Default select example" name="email">
                            <option th:each="elemento : ${usuarios}" th:value="${elemento.email}" th:text="${elemento.toString()}"></option>
                        </select>
                    </div>
<!--                    <div class="mb-3"> &lt;!&ndash; margen button &ndash;&gt;-->
<!--                        <label for="inputDescripcion1" class="form-label">Descripción</label>-->
<!--                        <input type="text" class="form-control" id="inputDescripcion1" name="descripcion" placeholder="Introducta una descripción" autofocus>-->
<!--                    </div>-->
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">Agregar Miembro</button>
                    </div>
                </form>
            </div>
<!--            <div th:if="${actualizar}" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">-->
<!--                <h2>Modificar Miembro</h2>-->
<!--                <form method="post" th:action="@{/miembro/actualizar}" th:object="${Miembro}">-->
<!--                    <div class="mb-3"> &lt;!&ndash; margen button &ndash;&gt;-->
<!--                        <label for="selectUsuario1" class="form-label">Nombre miembro</label>-->
<!--                        <select class="form-select" aria-label="Default select example" id="selectUsuario1" name="idMiembro">-->
<!--                            <option th:each="elemento : ${idMiembros}" th:value="${elemento.idMiembro}" th:text="${elemento.toString()}"></option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <div class="mb-3"> &lt;!&ndash; margen button &ndash;&gt;-->
<!--                        <label for="inputMiembro" class="form-label">Miembro</label>-->
<!--                        <input type="text" class="form-control" id="inpuMiembro" name="nombre" placeholder="Introduzca el miembro">-->
<!--                    </div>-->
<!--                    <div class="mb-3"> &lt;!&ndash; margen button &ndash;&gt;-->
<!--                        <label for="inputDescripcion2" class="form-label">Descripción</label>-->
<!--                        <input type="text" class="form-control" id="inputDescripcion2" name="descripcion" placeholder="Introducta una descripción" autofocus>-->
<!--                    </div>-->
<!--                    <div class="d-grid gap-2">-->
<!--                        <button type="submit" class="btn btn-warning">Modificar Miembro</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">
                <h2>Eliminar Miembro</h2>
                <form method="post" th:action="@{eliminar-miembro}" >
                    <div class="mb-3"> <!-- margen button -->
                        <label class="form-label">Proyecto</label>
                        <select class="form-select" aria-label="Default select example" name="id_proyecto">
                            <option th:each="elemento : ${proyectos}" th:value="${elemento.idProyecto}" th:text="${elemento.toString()}"></option>
                        </select>
                    </div>
                    <div class="mb-3"> <!-- margen button -->
                        <label class="form-label">Miembro</label>
                        <select class="form-select" aria-label="Default select example" name="email">
                            <option th:each="elemento : ${usuarios}" th:value="${elemento.email}" th:text="${elemento.toString()}"></option>
                        </select>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-danger">Eliminar Rol</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>