<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}"
      lang="es">
<body>
<div layout:fragment="content">
  <h1 class="text-center mb-4">Editar Proyecto</h1>

  <form method="POST" th:action="@{/proyectos/{id}(id=${projectEdit.idProyecto})}" th:object="${projectEdit}">
    <th:block th:include="fragment/error-message.html"></th:block>

    <fieldset>
      <legend>Información del Proyecto</legend>
<!--      <select class='form-select' aria-label='Default select example' name='idProyecto'>-->
<!--        <option th:each="elemento : ${listProject}" th:value="${elemento.idProyecto}" th:text="${elemento.toString()}" />-->
<!--      </select>-->
      <div class='mb-3'>
        <label for='inputProyectoN2' class='form-label'>Titulo del Proyecto</label>
        <input type='text' class='form-control' id='inputProyectoN2' th:field="*{titulo}"
               placeholder='Introduzca nuevo titulo del Proyecto'>
      </div>
      <div class='mb-3'>
        <label for='inputProyectoD2' class='form-label'>Descripción</label>
        <input type='text' class='form-control' id='inputProyectoD2' th:field="*{descripcion}"
               placeholder='Introduzca nueva descripción'>
      </div>
      <div class='mb-3'>
        <label for='inputProyectoO2' class='form-label'>Observación</label>
        <input type='text' class='form-control' id='inputProyectoO2' th:field="*{observacion}"
               placeholder='Observaciones del proyecto'>
      </div>
      <div class='mb-3'>
        <label for='estadoproyecto2' class='form-label'>Estado</label><br>
        <select class='form-select' aria-label='Default select example' id='estadoproyecto2' th:field="*{estado}">
          <option th:each="elemento : ${estados}" th:value="${elemento}" th:text="${elemento}"></option>
        </select>
      </div>
      <div class='mb-3'>
        <label for='inputProyectoFI2' class='form-label'>Fecha de Inicio</label>
        <input type='date' class='form-control' id='inputProyectoFI2' th:field="*{fechaInicio}" >
      </div>
      <div class='mb-3'> <!-- margen button -->
        <label for='inputProyectoFF2' class='form-label'>Fecha de Fin</label>
        <input type='date' class='form-control' id='inputProyectoFF2' th:field="*{fechaFin}" >
      </div>
    </fieldset>

    <div class="row">
      <div class="col-sm-6">
        <a th:href="@{/proyectos}" class="btn btn-outline-secondary w-100">
          Atrás
        </a>
      </div>
      <div class="col-sm-6">
        <button type="submit" class="btn btn-warning w-100">Modificar Proyecto</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>