<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Proyectos</title>
    <!-- Bootstrap js-->
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- CSS only -->
    <!-- Boostrap CSS -->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css}"
        rel="stylesheet" 
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
        crossorigin="anonymous">
    <!-- COSTUM CSS -->
    <link rel="stylesheet" th:href="@{style.css}">
    <!-- Pagina de gradientes: https://uigradients.com/#ManofSteel -->
    
</head>
<body>
    <!-- clases mas utilizadas en Bootstrap 
    division de pantalla
    sm: small
    md: medium
    lg: large
    xl: extra large
    ---
    row: fila
    -->
    <!--
    <div class="container" style="background-color: blue;">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <h1>Bootstrap</h1>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <h1>Bootstrap</h1>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <h1>Bootstrap</h1>
            </div>
        </div>
    </div>
    -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}">Gestor de Proyecto</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Inicio</a></li>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container my-3"> <!-- my: margin eje y || py: padding eje y -->
        <div class="row justify-content-center">
            <div th:if="${crear}" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">
                <h2>Crear Proyecto</h2>
                <form method="post" th:action="@{/proyecto/crear}" th:object="${proyecto}">
                    <div class="mb-3"> <!-- margen button -->
                        <label for="inputProyectoN" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="inputProyectoN" name="nombre" placeholder="Introduzca el nombre" autofocus>
                    </div>
                    <div class="mb-3"> <!-- margen button -->
                        <label for="inputProyectoD" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="inputProyectoD" name="descripcion" placeholder="Introduzca la descripción" autofocus>
                    </div>
					<div class="mb-3"> <!-- margen button -->
                        <label for="inputProyectoO" class="form-label">Observación</label>
                        <input type="text" class="form-control" id="inputProyectoO" name="observacion" placeholder="Observaciones del proyecto" autofocus>
                    </div>
					<div class="mb-3"> <!-- margen button -->
                        <label for="inputProyectoE" class="form-label">Estado</label></br>
						<select class="form-control" id="estadoproyecto" name="estado" multiple="multiple">
							<option th:value="0">Estado 1</option>
							<option th:value="1">Estado 2</option>
						</select>
                        <!-- <input type="text" class="form-control" id="inputProyectoE" name="estado" placeholder="Estado del proyecto" autofocus> -->
                    </div>
					<div class="mb-3"> <!-- margen button -->
                        <label for="inputProyectoFI" class="form-label">Fecha de Inicio</label>
                        <input type="date" class="form-control" id="inputProyectoFI2" name="fechainicio" value="2022-08-30" min="2021-01-01" max="2030-12-31" autofocus>
                    </div>
					<div class="mb-3"> <!-- margen button -->
                        <label for="inputProyectoFF" class="form-label">Fecha de Fin</label>
                        <input type="date" class="form-control" id="inputProyectoFI2" name="fechafin" value="2023-08-30" min="2021-01-01" max="2030-12-31" autofocus>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success">Crear Proyecto</button>
                    </div>
                </form>
            </div>
            <div th:if="${actualizar}" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">
                <h2>Modificar proyecto</h2>
                <form method="post" th:action="@{/proyecto/actualizar}" th:object="${proyecto}">
                    <div class="mb-3"> <!-- margen button -->
                        <label for="inputProyectoN2" class="form-label">Nombre del Proyecto</label>
                        <input type="text" class="form-control" id="inputProyectoN2" name="nombre" placeholder="Introduzca nuevo nombre del Proyecto">
                    </div>
                    <div class="mb-3"> <!-- margen button -->
                        <label for="inputProyectoD2" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="inputProyectoD2" name="descripcion" placeholder="Introduzca nueva descripción">
                    </div>
					<div class="mb-3"> <!-- margen button -->
                        <label for="inputProyectoO2" class="form-label">Observación</label>
                        <input type="text" class="form-control" id="inputProyectoO2" name="observacion" placeholder="Observaciones del proyecto" autofocus>
                    </div>
					<div class="mb-3"> <!-- margen button -->
                        <label for="inputProyectoE2" class="form-label">Estado</label></br>
						<select class="form-control" id="estadoproyecto2" name="estado" multiple="multiple">
							<option th:value="0">Estado 1</option>
							<option th:value="1">Estado 2</option>
						</select>
                        <!-- <input type="text" class="form-control" id="inputProyectoE" name="estado" placeholder="Estado del proyecto" autofocus> -->
                    </div>
					<div class="mb-3"> <!-- margen button -->
                        <label for="inputProyectoFI2" class="form-label">Fecha de Inicio</label>
                        <input type="date" class="form-control" id="inputProyectoFI2" name="fechainicio" value="2022-08-30" min="2021-01-01" max="2030-12-31" autofocus>
                    </div>
					<div class="mb-3"> <!-- margen button -->
                        <label for="inputProyectoFF2" class="form-label">Fecha de Fin</label>
                        <input type="date" class="form-control" id="inputProyectoFI2" name="fechafin" value="2023-08-30" min="2021-01-01" max="2030-12-31" autofocus>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-warning">Modificar Proyecto</button>
                    </div>
                </form>
            </div>
            <div th:if="${eliminar}" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">
                <h2>Eliminar Proyecto</h2>
                <form method="post" th:action="${proyecto/eliminar}">
                    <select class="form-control" id="eliminarproyecto" name="id_proyecto" multiple="multiple">
                        <option th:value="0">Proyecto 1</option>
                    </select>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-danger">Eliminar Proyecto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>