<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}">
<body>
<div layout:fragment="content">
    <h1 class="text-center mb-4">Proyectos</h1>

    <th:block th:include="fragment/success-message.html"></th:block>

    <th:block th:if="${permisoCrear eq true}">
        <a th:href="@{/proyectos/nuevo}" class="btn btn-outline-success mb-3">
            <i class="fa-solid fa-user-plus"></i> Nuevo Proyecto
        </a>
    </th:block>

    <tr th:if="${permisoVer eq false}">
        <td class="text-center fw-bold" colspan="10">No posee los permisos suficientes</td>
    </tr>

    <div th:if="${permisoVer eq true}" class="table-responsive">
        <table class="table table-sm table-bordered">
            <thead>
            <tr class="text-center">
                <th>Título</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin
                <th>Acción</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(listProject)}">
                <td class="text-center fw-bold" colspan="10">No se encontraron resultados</td>
            </tr>
            <tr class="text-center" th:each="project: ${listProject}">
                <td th:text="${project.titulo}">Titulo</td>
                <td th:text="${project.descripcion}">Descripcion</td>
                <td th:text="${project.estado}">Estado</td>
                <td th:text="${#temporals.format(project.fechaInicio, 'dd/MM/yyyy')}">fechaInicio</td>
                <td th:text="${#temporals.format(project.fechaFin, 'dd/MM/yyyy')}">fechaFin</td>
                <td>
                    <div class="btn-group">
                        <a th:if="${permisoVerBacklog eq true}" th:href="@{/proyectos/{id}/backlog(id=${project.idProyecto})}">
                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                <i class="fa-sharp fa-solid fa-sliders"></i>
                            </button>
                        </a>
                        <a th:if="${permisoActualizar eq true}" th:href="@{/proyectos/{id}(id=${project.idProyecto})}"
                           class="btn btn-sm btn-outline-primary">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a th:if="${permisoEliminar eq true}" th:href="@{/proyectos/{id}/delete(id=${project.idProyecto})}">
                            <button type="button" id="btnEliminar" class="btn btn-sm btn-outline-danger">
                                <i class="fa-sharp fa-solid fa-trash"></i>
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>