<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <th:block th:include="componentes/importar.html :: importar" />
    </head>
<body>
    <nav th:replace="componentes/cabecera.html :: cabecera" />
    </nav>

    <div class="container my-3"> <!-- my: margin eje y || py: padding eje y -->
        <div class="row justify-content-center">
            <div th:if="${crear}" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">
                <h2>Crear Usuario</h2>
                <form method="post" th:action="@{/permiso/crear}" th:object="${permiso}">
                    <div class="mb-3"> <!-- margen button -->
                        <label for="inputPermisoN" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="inputPermisoN" name="nombre" placeholder="Nombre del permiso" autofocus>
                    </div>
                    <div class="mb-3"> <!-- margen button -->
                        <label for="inputPermisoD" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="inputPermisoD" name="descripcion" placeholder="Introduzca la descripción" autofocus>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">Crear Permiso</button>
                    </div>
                </form>
            </div>
            <div th:if="${actualizar}" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">
                <h2>Modificar permiso</h2>
                <form method="post" th:action="@{/permiso/actualizar}" th:object="${permiso}">
                    <select class="form-select" aria-label="Default select example" name="idPermiso">
                        <option th:each="elemento : ${idPermisos}" th:value="${elemento.idPermiso}" th:text="${elemento.toString()}"></option>
                    </select>
                    <div class="mb-3"> <!-- margen button -->
                        <label for="inputPermisoN2" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="inputPermisoN2" name="nombre" placeholder="Nuevo nombre del permiso" autofocus>
                    </div>
                    <div class="mb-3"> <!-- margen button -->
                        <label for="inputPermisoD2" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="inputPermisoD2" name="descripcion" placeholder="Introduzca nueva descripción" autofocus>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-warning">Modificar Permiso</button>
                    </div>
                </form>
            </div>
            <div th:if="${eliminar}" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">
                <h2>Eliminar Permiso</h2>
                <form method="post" th:action="@{/permiso/eliminar}">
                    <select class="form-select" aria-label="Default select example" id="eliminarpermiso" name="id_permiso">
                        <option th:each="elemento : ${idPermisos}" th:value="${elemento.idPermiso}" th:text="${elemento.toString()}"></option>
                    </select>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-danger">Eliminar Permiso</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>