{% if 'Ver Roles' in  permisos %}
{%include 'base.html'%}
<div class="container">
    <div class="head">
        <h1 align="center"> Administracion de Roles</h1>
        <hr>
    </div>
    <div class="body">
        <table class="table table-sm scrolltable" width="100%">
            <thead class="thead-dark thead">
                <tr>
                    <th width="10%">ID</th>
                    <th width="25%">Nombre</th>
                    <th width="54%">Descripcion</th>
                    <th width="8%">Acciones</th>
                    <th width="3%">
                        {% if 'Crear Roles' in permisos %}
                            <a href="{% url 'create_rol'%}"><i class="fas fa-plus-square"></i></a>
                        {% endif     %}
                    </th>
                </tr>
            </thead>
            <tbody class="tbody">
                {% for rol in object_list %}
                    <tr>
                        <td width="10%">{{ rol.pk }}</td>
                        <td width="25%">{{ rol.nombre }}</td>
                        <td width="54">{{ rol.descripcion }}</td>
                        <td id="acciones" width="8%">
                            <a href="{% url 'ver_rol' rol.pk %}"><i class="fas fa-eye"></i></a>
                            {% if 'Modificar Roles' in permisos %}
                            <a href="{% url 'update_rol' rol.pk %}"><i class="fas fa-edit"></i></a>
                            {% endif %}
                        </td>
                        <td width="3%"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
Permiso denegado (Ver Roles)
{% endif %}