{% if 'Crear Roles' in permisos and not object or 'Modificar Roles' in permisos and object %}
{%include 'base.html'%}
<html>
<body>
<div class="container">
    <div class="head">
        <h1 align="center"> {{ title }} </h1>
        <hr>
    </div>
    <div class="register">
        <div class="container form-container">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p}}
                <button type="submit" class="btn submit-btn">Guardar</button>
            </form>
        </div>
        <hr>
    </div>
</div>
</body>
</html>
{% else %}
    {% if object %}
        Permiso denegado (Modificar Roles)
    {% else %}
        Permiso denegado (Crear Roles)
    {% endif %}
{% endif %}