<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Proyectos</title>
    <!-- Bootstrap js-->
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- CSS only -->
    <!-- Boostrap CSS -->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css}"
        rel="stylesheet" 
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
        crossorigin="anonymous">
    <!-- COSTUM CSS -->
    <link rel="stylesheet" th:href="@{style.css}">
    <!-- Pagina de gradientes: https://uigradients.com/#ManofSteel -->
    
</head>
<body>
    <!-- clases mas utilizadas en Bootstrap 
    division de pantalla
    sm: small
    md: medium
    lg: large
    xl: extra large
    ---
    row: fila
    -->
    <!--
    <div class="container" style="background-color: blue;">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <h1>Bootstrap</h1>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <h1>Bootstrap</h1>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <h1>Bootstrap</h1>
            </div>
        </div>
    </div>
    -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}">Gestor de Proyecto</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Inicio</a></li>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container my-3"> <!-- my: margin eje y || py: padding eje y -->
        <div class="row justify-content-center">
            <div th:if="${asignar-permisos-rol}" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">
                <h2>Asignar permisos a un rol</h2>
                <form method="post" th:action="@{/permisos_rol/asignar}" th:object="${permisos_rol}">
                    <div class="mb-3"> <!-- margen button -->
                        <h4>Seleccionar Rol</h4>
                        <select class="form-control" id="roles" name="roles" multiple="multiple" autofocus>
							<option th:value="0">Rol 1</option>
							<option th:value="1">Rol 2</option>
							<option th:value="1">Rol 3</option>
						</select>
                    </div>
					<div class="d-grid gap-2">
                        <button class="btn btn-success">Seleccionar Rol</button>
                    </div>
					<div class="mb-3"> <!-- margen button -->
						<h4>Seleccionar Permisos</h4>
                        <label for="permisos1" class="form-label">Permisos 1</label>
                        <input type="checkbox" class="form-control" id="permisos1" name="permisos" autofocus><br>
						<label for="permisos2" class="form-label">Permisos 2</label>
                        <input type="checkbox" class="form-control" id="permisos2" name="permisos" autofocus><br>
						<label for="permisos" class="form-label">Permisos 3</label>
                        <input type="checkbox" class="form-control" id="permisos3" name="permisos" autofocus><br>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success">Asignar Permisos</button>
                    </div>
                </form>
            </div>
            <div th:if="${eliminar-permiso-rol}" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">
                <h2>Eliminar Permiso del Rol</h2>
                <form method="post" th:action="${permisos_rol/eliminar}">
                    <select class="form-control" id="eliminarpermiso" name="id_permiso" multiple="multiple">
                        <option th:value="0">Permiso 1</option>
                    </select>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-danger">Eliminar Permiso</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>