<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}">
<body>
<div layout:fragment="content">
  <h1 class="text-center mb-4" th:text="${project.titulo}">Proyecto #1</h1>

  <th:block th:include="fragment/success-message.html"></th:block>

  <div th:if="${permisoVerBacklog eq true}" class="table-responsive">
    <h2>Sprints</h2>
    <a th:if="${permisoCrearSprint eq true}"
       th:href="@{/proyectos/{id}/sprints/nuevo(id=${project.idProyecto})}"
       class="btn btn-outline-success mb-3">
      <i class="fa-solid fa-user-plus"></i> Nuevo Sprint
    </a>
    <a th:if="${permisoVerMiembro eq true}"
       th:href="@{/proyectos/{id}/miembros(id=${project.idProyecto})}"
       class="btn btn-outline-success mb-3">
      <i class="fa-solid fa-people-group"></i> Equipo
    </a>
    <a th:if="${permisoVerDashboard eq true}"
       th:href="@{/proyectos/{id}/reporte(id=${project.idProyecto})}"
       class="btn btn-outline-success mb-3">
      <i class="fa-solid fa-chart-line"></i> Burndown Chart
    </a>

    <div th:if="${permisoVerBacklog eq false}">
      <td class="text-center fw-bold" colspan="10">No posee los permisos suficientes</td>
    </div>
    <table th:if="${permisoVerBacklog eq true}" class="table table-sm table-bordered">
      <thead>
        <tr class="text-center">
          <th>Titulo</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
      <tr th:if="${#lists.isEmpty(project.backlog.sprints)}">
        <td class="text-center fw-bold" colspan="10">No se encontraron resultados</td>
      </tr>
      <tr class="text-center" th:each="sprint: ${project.backlog.sprints}">
        <td th:text="${sprint.titulo}">Spring 4</td>
        <td th:text="${#temporals.format(sprint.fechaInicio, 'dd/MM/yyyy')}">01/10/2022</td>
        <td th:text="${#temporals.format(sprint.fechaFin, 'dd/MM/yyyy')}">14/10/2022</td>
        <td th:text="${sprint.estado}">Activo</td>
        <td>
          <div class="btn-group">
            <a th:if="${permisoVerSprint eq true}" th:href="@{/proyectos/{id1}/sprints/{id2}/historias(id1=${project.idProyecto},id2=${sprint.idSprint})}">
              <button type="button" class="btn btn-sm btn-outline-secondary">
                <i class="fa-sharp fa-solid fa-sliders"></i>
              </button>
            </a>
            <a th:if="${permisoActualizarSprint eq true}" th:href="@{/proyectos/{id1}/sprints/{id2}(id1=${project.idProyecto},id2=${sprint.idSprint})}"
                    class="btn btn-sm btn-outline-primary">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a th:if="${permisoEliminarSprint eq true}" th:href="@{/proyectos/{id1}/sprints/{id2}/delete(id1=${project.idProyecto},id2=${sprint.idSprint})}">
              <button type="button" class="btn btn-sm btn-outline-danger">
                <i class="fa-sharp fa-solid fa-trash"></i>
              </button>
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>