<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="css/style.css">
	

</head>  
<body>
    
 <form class="formulario">
    <!--verificar para que funcione-->
    <div align="center"><img src="https://www.gifsanimados.org/data/media/596/pizza-imagen-animada-0060.gif" class="wp-image-4532" width="140" height="130" /></div>
     
    <h1>Registrate</h1>
     <div class="contenedor">
     
     <div class="input-contenedor">
         <i class="fas fa-user icon"></i>
         <input type="text" placeholder="Usuario">
         
         </div>
         
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input type="text" placeholder="Correo Electrónico">
         
         </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input type="password" placeholder="Contraseña">
         
         </div>
         <input type="submit" value="Registrate" class="button">
         
         <p>¿Ya estás registrado? <a class="link" href="login.html">Iniciar Sesión</a></p>
     </div>
    </form>
</body>
</html>