<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <th:block th:include="componentes/importar.html :: importar" />
</head>
<body>
    <nav th:replace="componentes/cabecera.html :: cabecera" />

    </nav>

    <div class="container my-3"> <!-- my: margin eje y || py: padding eje y -->
        <div class="row">
            <div th:if="${crear}" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">
                <h2>Agregar rol</h2>
                <form method="post" th:action="@{/rol/crear}" th:object="${rol}">
                    <div class="mb-3"> <!-- margen button -->
                        <label for="inputNombre1" class="form-label">Rol</label>
                        <input type="text" class="form-control" id="inputNombre1" name="inputRol" placeholder="Introduzca el rol" autofocus>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">Agregar rol</button>
                    </div>
                </form>
            </div>
            <div th:if="${actualizar}" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">
                <h2>Modificar roles</h2>
                <form method="post" th:action="@{/rol/actualizar}" th:object="${rol}">
                    <div class="mb-3"> <!-- margen button -->
                        <label for="selectUsuario1" class="form-label">Nombre usuario</label>
                        <select class="form-control" id="selectUsuario1">
                            <option>Usuario 1</option>
                            <option>Usuario 2</option>
                            <option>Usuario 3</option>
                            <option>Usuario 4</option>
                            <option>Usuario 5</option>
                          </select>
                    </div>
                    <div class="mb-3"> <!-- margen button -->
                        <label for="inputRol" class="form-label">Rol</label>
                        <input type="text" class="form-control" id="inputRol" name="inputRol" placeholder="Introduzca el rol">
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-warning">Modificar Rol</button>
                    </div>
                </form>
            </div>
            <div th:if="${eliminar}" class="col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-while py-4">
                <h2>Eliminar Roles</h2>
                <form method="post" th:action="@{/rol/eliminar}">
                    <div class="mb-3"> <!-- margen button -->
                        <label for="selectRol1" class="form-label">Roles</label>
                        <select class="form-control" id="selectRol1">
                            <option>Rol 1</option>
                            <option>Rol 2</option>
                            <option>Rol 3</option>
                            <option>Rol 4</option>
                            <option>Rol 5</option>
                          </select>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-danger">Eliminar Rol</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>