<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic}">
<body>
<div layout:fragment="content">
  <h1 class="text-center mb-4">Nuevo Rol</h1>

  <form method="POST" th:action="@{/roles/{id}(id=${rol.idRol})}" th:object="${rol}">
    <th:block th:include="fragment/error-message.html"></th:block>

    <fieldset>
      <!--div th:if="${permisoAsignarRol}" class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect02">Rol</label>
        <select class="form-select" aria-label="Default select example" id="inputGroupSelect02" name="idRol">
          <option th:each="elemento : ${roles}" th:value="${elemento.idRol}" th:text="${elemento.toString()}"></option>
        </select>
      </div-->
      <legend>Información del Rol</legend>
      <div class="mb-3"> <!-- margen button -->
        <label class="form-label">Id Rol: [[${rol.idRol}]]</label>
      </div>
      <!--div class="mb-3"> < margen button>
        <label class="form-label">Correo Rol: [[${rol.email}]]</label>
        <input type="hidden" name="email" th:value="${rol.email}" />
      </div-->
      <div class="mb-3"> <!-- margen button -->
        <label class="form-label">Permisos del Rol: [[${rol.permisos}]]</label>
        <!--ESTA PARTE ES COMO EJEMPLO DE CHECKBOX-->
        <div class="checkbox">
            <label class="label-cliente col-md-3" for="permisos_type_permiso1"><input type="checkbox" id="permisos_type_permiso1" name="permisos_type[permiso1]" class="checkbox-permiso" value="1" checked="checked"> Permiso 1</label>
        </div>
        <div class="checkbox">
            <label class="label-cliente col-md-3" for="permisos_type_permiso3"><input type="checkbox" id="permisos_type_permiso2" name="permisos_type[permiso2]" class="checkbox-permiso" value="1" checked="checked"> Permiso 2</label>
        </div>
        <div class="checkbox">
            <label class="label-cliente col-md-3" for="permisos_type_permiso3"><input type="checkbox" id="permisos_type_permiso13" name="permisos_type[permiso3]" class="checkbox-permiso" value="1" checked="checked"> Permiso 3</label>
        </div>
        <!---->
        <input type="hidden" name="permisos" th:value="${rol.permisos}" />
      </div>
      <div class="mb-3"> <!-- margen button -->
        <label for="inputNombre2" class="form-label">Nuevo nombre Rol</label>
        <input type="text" class="form-control" id="inputNombre2" name="rol" th:value="${rol.rolname}">
      </div>
      <!--div class="mb-3"> <oc margen button>
        <label for="inputContrasenha2" class="form-label">Contraseña</label>
        <input type="text" class="form-control" id="inputContrasenha2" name="password" placeholder="Introduzca una nueva Contraseña">
      </div-->
      <!--div th:if="${permisoAsignarRol}" class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect02">Rol</label>
        <select class="form-select" aria-label="Default select example" id="inputGroupSelect02" name="idRol">
          <option th:each="elemento : ${roles}" th:value="${elemento.idRol}" th:text="${elemento.toString()}"></option>
        </select>
      </div-->
    </fieldset>

    <div class="row">
      <div class="col-sm-6">
        <a th:href="@{/roles}" class="btn btn-outline-secondary w-100">
          Atrás
        </a>
      </div>
      <div class="col-sm-6">
        <button type="submit" class="btn btn-warning w-100">Modificar Rol</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>